* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

select {
  outline: none;
  cursor: pointer;
}

input, textarea {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}
